html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
}

.containerPhotos{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  padding-top: 4em;
  align-items: center;
  flex-wrap: wrap;
}

.photoBox {
  position: relative;
  width: 250px;
}

.photoBox img {
  max-width: 100%;
}

.photoBox::after {
  content: attr(data-name);
  position: absolute;
  bottom: -12%;
  left: 0;
  font-size: 3rem;
  width: 100%;
}

.photoBox::before {
  content: attr(data-job);
  position: absolute;
  right: -58%;
  top: 31%;
  font-size: 2.4rem;
  transform: rotate(90deg);
  width: 250px;
  text-transform: uppercase;
  font-family: "Times New Roman";
}

.photoBox:nth-child(even){
  margin-top:60px;
}

#creater {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 380px) {

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .sectionTitle .decription p {
    font-size: 1.4rem;
  }

  .photoBox::after {
    content: attr(data-name);
    position: absolute;
    bottom: -12%;
    left: 0;
    font-size: 1.2rem;
    width: 100%;
  }

  .photoBox::before {
    content: attr(data-job);
    position: absolute;
    right: -56%;
    top: 31%;
    font-size: 1rem;
    transform: rotate(90deg);
    width: 100px;
    text-transform: uppercase;
    font-family: "Times New Roman";
  }

  .photoBox {
    position: relative;
    width: 100px;
    margin-bottom: 100px; 
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .sectionTitle .decription p {
    font-size: 1.4rem;
  }

}

@media (min-width: 1024px) {

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  .sectionTitle .decription p {
    font-size: 1.4rem;
  }

  .sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sectionTitle h1 {
    min-width: 300px;
    width: 100%;
    max-width: 80%;
    font-family: "Times New Roman";
  }

  .sectionTitle .decription {
    min-width: 300px;
    width: 100%;
    max-width: 20%;
  }

  .sectionTitle .decription p {
    font-size: 2rem;
  }

  .photoBox {
    margin: 5% 9%;
  }

}